
.dummy-page {
    padding: 10px 20px;
}

.hidden {
    visibility: hidden;
}

.horizontalOverlayProperty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.bar, .notification {
    background-color: #2185D0;
}

.elements {
    @extend .horizontalOverlayProperty;

    .logo {
        .dummy-logo {
            border-radius: 50%;
            background-color: #f8fbe4;
            padding: 16px 12px;
        }
        img {
            max-width: 54px;
            max-height: 52px;
        }
    }

    .message {
        color: #ffffff;
    }

    .input {
        input {
            border: 0;
            padding: 6px;
            border-radius: 2px;
        }
    }

    button {
        background-color: #6435C9;
        color: #ffffff;
        border: 0;
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 10px;
        margin-left: 15px;
    }

    .socialIcons {
        padding: 2px;
        border-radius: 2px;
        background-color: #DAE3F3;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;

        img {
            height: 32px;
            width: auto;
        }
    }
    .close-button {
        position: absolute;
        top: -4px;
        right: 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}

.bar {
    width: 100%;
    height: 70px;
    @extend .elements;    
}

.notification {
    width: 350px;
    height: 70px;
    @extend .elements;

    .hidden {
        display: none;
    }
}

.notification.calltoaction.template-1 {
    .hidden {
        display: block;
    }
}
.bar.optin.template-2, .bar.optin.template-3, .bar.calltoaction.template-2, .bar.calltoaction.template-3 {
    .hidden {
        display: none;
    }
}
.bar.calltoaction.template-3 { 
    justify-content: center;
}