.borderboxed {
    border: 1px solid #ccc;
}
  
.link {
    cursor: pointer;
    color: #1e70bf; //#lookatthis. Change this with theming in semantic
    &:hover {
        text-decoration: underline;
    }
}

.border-box {
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: .28571429rem;
}
  
.no-margin {
    margin: 0 !important;
}

.pointer {
    cursor: pointer;
}

.smallest {
    font-size: 0.35rem !important;
}

.dark-background {
    background-color: #808080 !important;
}

.image-holder {
    background-color: #ccc;
    padding: 5px;
}

.p-top-2 {
    padding-top: 2px;
}

.p-top-4 {
    padding-top: 4px;
}

.p-top-5 {
    padding-top: 5px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-btm-2 {
    padding-top: 2px;
}

.p-btm-4 {
    padding-top: 4px;
}

.p-btm-5 {
    padding-top: 5px;
}

.p-btm-10 {
    padding-top: 10px;
}