.borderboxed {
    border: 1px solid #ccc;
}
  
.link {
    cursor: pointer;
    color: #1e70bf; //#lookatthis. Change this with theming in semantic
    &:hover {
        text-decoration: underline;
    }
}

.border-box {
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: .28571429rem;
}
  
.no-margin {
    margin: 0 !important;
}

.pointer {
    cursor: pointer;
}

.smallest {
    font-size: 0.35rem !important;
}

.dark-background {
    background-color: #808080 !important;
}

.image-holder {
    background-color: #ccc;
    padding: 5px;
}

.p-6-3 {
    padding: 6px 3px;
}
.p-10-5 {
    padding: 10px 5px;
}


.p-top-2 {
    padding-top: 2px;
}

.p-top-4 {
    padding-top: 4px;
}

.p-top-5 {
    padding-top: 5px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-btm-2 {
    padding-top: 2px;
}

.p-btm-4 {
    padding-top: 4px;
}

.p-btm-5 {
    padding-top: 5px;
}

.p-btm-10 {
    padding-top: 10px;
}

.m-top-5 {
    margin-top: 5px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.font {
    &-size {
        &-10 {
            font-size: 10px;
        }
        &-20 {
            font-size: 20px;
        }
        &-35 {
            font-size: 35px;
        }
    }

    &-bold {
        font-weight: bold;
    }
}

.ui.vertical.divider.fullheight:after, .ui.vertical.divider.fullheight:before {
    height: 100% !important;
}

.display-none {
    display: none;
}

.wp {
    &-5 {
        min-width: 5% !important;
        width: 5% !important;
    }
    &-10 {
        min-width: 10% !important;
        width: 10% !important;
    }
    &-15 {
        min-width: 15% !important;
        width: 15% !important;
    }
    &-20 {
        min-width: 20% !important;
        width: 20% !important;
    }
    &-25 {
        min-width: 25% !important;
        width: 25% !important;
    }
    &-30 {
        min-width: 30% !important;
        width: 30% !important;
    }
    &-35 {
        min-width: 35% !important;
        width: 35% !important;
    }
    &-40 {
        min-width: 40% !important;
        width: 40% !important;
    }
}
