.overlays, .new-overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.new-overlay {
    max-width: calc(100vw - 10%);
    max-height: calc(100vh - 90px);
}

.overlay {
    &-list {
        overflow-y: auto;
        max-width: calc(100vw - 10%);
        padding: 20px;
        display: flex;
        flex: 1;
    }

    &-root {
        font-size: 0.35rem !important;
        display: flex;
        justify-content: space-between;
    }

    &-iconbox {
        background-color: #6435c9;
        padding: 2px 8px;
    }

    &-card {
        width: 300px;
        flex: 1;

        > div {
            min-width: 380px;
        }
    }

    &-popup {
        width: 60%;

        >.overlay-logo  {
            background-color: #6435c9;
        }
    }

    &-notification {
        width: 60%;
    }

    &-name {
        top: 50px !important;
    }

    &-bar {

    }

    
}
