.scrollable-table {
    tbody {
        display: block;
        max-height: 300px;
        min-height: 100px;
        overflow-y: scroll;
    }
      
    thead, tbody tr {
        display: flex;
        flex: 1;
        
        td {
            flex: 1;

            .text {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        tr {
            display: flex;
            flex: 1;
            th {
                flex: 1;
            }
        }
    }
}